body {
    background-image: url("https://wallpaperaccess.com/full/650093.gif");
    color: orangered;
   }

.container {
    text-align: center;
}

h1, h2 {
    font-family: 'Luckiest Guy', cursive;
}

h1 {
    color: black;
}

h2, h3 {
    color: purple;
}